* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}

.accordion {
    max-width: 500px;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: yellow;
    color: red;
    cursor: pointer;
}

.accordion .contentBx .label::after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx .content {
    position: relative;
    background-color: aliceblue;
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    height: 100px;
    padding: 10px;
}

.accordion .contentBx.active .label::after {
    content: '-';
}